.main-content{
    background-color: #7D9D9C;
    text-align: center;
}

.main-content > *{
    margin: 0 auto;
}

.clock-options{
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}

.my-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    gap: 20px;
    justify-items: center;
}

.clock{
    padding: 3em 3em;
    border: 2px solid white;
    display: flex;       
    width: 400px;
    position: relative;
}
  
.optionbox{
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 2px solid white;
    width: 200px;
}
  
.optionbox select {
    background-color: #7D9D9C;
    color: #fff;
    padding: 10px;
    width: 180px;
    height: 50px;
    border: none;
    font-size: 15px;
    -webkit-appearance: button;
    outline: none;
}

.optionbox select:hover{
    cursor: pointer;
}
  
.optionbox:before{
    content: '\f358';
    font-family: "Font Awesome 5 free";
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background-color: #7D9D9C;
    text-align: center;
    line-height: 50px;
    color:#fff;
    font-size: 30px;
    pointer-events: none; 
}
  
.optionbox:hover{  
    background-color: #7D9D9C;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}  

.add-time-zone-section{
    padding: 1em 0;
    width: 600px;
    position: relative;
    margin-top: 5em;
}

.add-time-zone-section .optionbox:before{
    content: '\f055';
    font-weight: 900;
}

footer{
    text-align: end;
    background-color: black;
    color: white;
}