.main-content{
    background-color: #7D9D9C;
    text-align: center;
}

.main-content > *{
    margin: 0 auto;
}

.clock-options{
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}

.my-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    justify-items: center;
}

.clock{
    padding: 1em 1.75em;
    border: 2px solid white;
    display: flex;   
    flex-direction: column;    
    margin: 32px;
    position: relative;
    align-items: center;     
    border-radius: 16px;
}
  
.optionbox{    
    border: 2px solid white;
    padding: 0 8px;
    font-size: 15px;
}
  
.optionbox select {
    background-color: #7D9D9C;
    color: #fff;
    padding: 10px;    
    border: none;    
    -webkit-appearance: button;
    outline: none;
}

.optionbox select:hover{
    cursor: pointer;
}
    
.optionbox:hover{  
    background-color: #7D9D9C;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}  

.delete-clock-button{
    font-size: 15px;
    color: white;
    border: 2px solid white;
    padding: 10px;
}

.delete-clock-button i{    
    padding-left: 10px;    
}

.delete-clock-button i:hover{
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;    
}

.add-time-zone-section{
    padding: 1em 0;
    width: 200px;
    position: relative;
    margin-top: 5em;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}